PORT=5555
MONGO_URI=mongodb+srv://bashiring:propenisasi123@bashiring.miilw.mongodb.net/?retryWrites=true&w=majority&appName=bashiring
JWT_SECRET=PrOpEnISaSi_B4sH1r1nG1234567890-_-0987654321
NODE_ENV=production 